<div class="container">
  <h3>choose the reservation to cancel :</h3>
</div>
<div class="container">
  <form [formGroup]="form" (submit)="onFormSubmit()">
    <div class="form-group">
      <select formControlName="reservation" class="form-control">
        <option *ngFor="let r of allReservations" [ngValue]="r"
          >The boat number {{ r.boat.boatNumber }}, the guest name is
          {{ r.guest.name }} and the reservation start time (
          {{ r.startTime }} )
        </option>
      </select>
    </div>
    <button class="btn btn-large btn-primary" [disabled]="form?.invalid">
      cancel
    </button>
  </form>
</div>
