<body>
  <a [routerLink]="['creat-a-reservation']">
    <div id="page-wrap" class="row">
      <h1>Reservation</h1>
    </div>
  </a>

  <a [routerLink]="['start-a-trip']">
    <div id="page-wrap" class="row">
      <h1>Trip</h1>
    </div>
  </a>
  <a [routerLink]="['paying']">
    <div class="row" id="page-wrap">
      <h1>Paying</h1>
    </div>
  </a>

  <a [routerLink]="['boat']">
    <div class="row" id="page-wrap">
      <h1>Add boat</h1>
    </div>
  </a>

  <div id="bg">
    <img
      src="../../assets/img/Italy_Lake.jpg"
      id="bg"
      alt="wallpaper Italy Lake"
    />
  </div>
</body>
