<body>
  <h1 id="logo">Molveno Boat Rental</h1>
  <a [routerLink]="['creat-a-reservation']">
    <div id="page-wrap" class="row">
      <h1 class="zoom">Reservation</h1>
    </div>
  </a>

  <a [routerLink]="['start-a-trip']">
    <div id="page-wrap" class="row">
      <h1 class="zoom">Trip</h1>
    </div>
  </a>
  <a [routerLink]="['paying']">
    <div class="row" id="page-wrap">
      <h1 class="zoom">Paying</h1>
    </div>
  </a>

  <a [routerLink]="['boat']">
    <div class="row" id="page-wrap">
      <h1 class="zoom">Add boat</h1>
    </div>
  </a>

  <a [routerLink]="['overview']">
    <div class="row" id="page-wrap">
      <h1 class="zoom">Overview</h1>
    </div>
  </a>

  <a [routerLink]="['cancel']">
    <div class="row" id="page-wrap">
      <h1 class="zoom">Cancelation</h1>
    </div>
  </a>

  <div id="bg">
    <img
      src="../../assets/img/Italy_Lake.jpg"
      id="bg"
      alt="wallpaper Italy Lake"
    />
  </div>
</body>
